target/
**/node_modules/**
**/results/**.json
**/build/**.wasm_add
**/build/**.wasm
**/build/**.ts
**/build/**.wat
**/index.ts
**/op_datastore.json
.vscode/settings.json
**/old_build/**.wasm
**/old_build/**.ts
**/old_build/**.wat
**/**.bak
src/sc_generation/template/as/src/
src/sc_generation/template/wasmv1/src/
